SECRET_KEY=django-insecure-change-this-in-production-key-#89d2h!9s8df023
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3

TMDB_API_KEY=your_tmdb_api_key_here
YOUTUBE_API_KEY=
RAZORPAY_KEY_ID=rzp_test_samplekey123
RAZORPAY_KEY_SECRET=sample_secret_key_456

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
